{{> post-comments post}}

<form class="form-floating m-5 text-center comment-form">
    {{#if loggedIn}}
    <div>
        <textarea name="comment-body" class="form-control my-3" placeholder="Comments"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-main">Add Comment</button>
    </div>
    {{else}}
    <div class="card-body">
        <p class="text-body"><a href="/login">Login</a> to leave a comment!</p>
    </div>
    {{/if}}
</form>

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}